extends ./layout.jade
block contenido
  .row.center-xs.middle-xs.full-height
    .col-xs-6
      .box
        h1 Bienvenido a SharePicures
        a(href="/singin") Iniciar sesión
        br
        a(href="/singup") Registrarse