extends ./layout.jade
block contenido
  .row.center-xs.middle-xs.full-height
    .col-xs-6
      .box
        form(action="/users", method="POST", class="text-left")
          .form-group
            label(form="email") Email
            input(type="text", name="email",placeholder="Email",id="email",class="form-control")
          .form-group
            label(form="username") Username
            input(type="text", name="username",placeholder="Username",id="username",class="form-control")
          .form-group
            label(form="password") Password
            input(type="password", name="password",placeholder="Password",id="password",class="form-control")
          .form-group
            label(form="Confirmation") Password Confirmation
            input(type="password", name="passwordConfirmation",placeholder="Password Confirmation",id="Confirmation",class="form-control")
          .row
            .col-xs-6
              input(type="submit", value="Registrarse", class="btn btn-info")
            .col-xs-6.text-right
              a(href="/singin") Iniciar Sesion