extends ./layout.jade
block contenido
  .row.center-xs.middle-xs.full-height
    .col-xs-6
      .box
        form(action="/session", method="POST", class="text-left")
          .form-group
            label(form="email") Email
            input(type="text", name="email",placeholder="Email",id="email",class="form-control")
          .form-group
            label(form="password") Password
            input(type="password", name="password",placeholder="Password",id="password",class="form-control")
          .row
            .col-xs-6
              input(type="submit", value="Iniciar sesión", class="btn btn-info")
            .col-xs-6.text-right
              a(href="/singup") Registrarse