body, html {
  height: 100%;
}

nav {
  background-color: #333;
  height: 2.5em;
  padding: .5em;
}

nav ul {
  list-style: none;
  float: right;
}

nav ul li{
  display: inline-block;
  margin-right: 1em;
  font-size: 1.2em;
}

nav ul li a{
  color: white;
}
nav ul li a:hover{
  color: white;
}

form.link {
  display: inline-block;
}

form.link input[type="submit"] {
  background-color: transparent;
  border: 0;
  color: red;
}


.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.margin-right_little{
  margin-right: 1em;
}

.border-grey {
  border: 1px solid #eee;
}

.center-box {
  width: 90%;
  margin: 0 auto;
}

.middle-text {
  line-height: 5em;
}

.tr:nth-of-type(odd){
  background-color: #eee;
}

.img-container {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
}

.img-container h2 {
  padding: 15px;
  border-bottom: 1px solid #333;
}

.img-container p {
  text-align: right;
  font-size: 1.2em;
  margin-top: 1em;
}

img {
  max-width: 100%;
}
