extends ../layout.jade
block contenido
  for picture in pictures
    .img-container
      h2= picture.title
      img(src="/public/imgs/#{picture._id}.#{picture.extension}", class="img")
      p Por #{picture.creator.email}
  script(src="/public/js/client.js")